.element_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.item {
    width: 56px;
    height: 56px;
    background-color: rgb(196, 196, 196); 
    border-radius: 50%;
    border: 2px solid rgb(85, 15, 85);
  }

  .item_container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .item_name {
    font-family: JetBrains Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .price_container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

