.burger_ingredietns {
    max-width: 600px;
    width: 100%;
}

.ingredients_list {
max-height: 756px;
height: 100%;
overflow: auto;
  }
  

.ingredient_item {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  max-height: 756px;
}

.category_title {
font-family: JetBrains Mono;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

.ingredients__title {
font-family: JetBrains Mono;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
padding-top: 40px;
padding-bottom: 20px;
}

.tab_box { 
  display: flex;
}