.burger_ingredietns {
    max-width: 600px;
    width: 100%;
}

.ingredients_list {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
    gap: 20px; /* Optional: adds space between grid items */
    max-height: 756px;
    overflow-y: auto; /* Adds a scrollbar */
  }
  

.ingredient_item {
        flex-basis: calc(50% - 10px); 
        margin: 5px; 
}