.burger_ingredietns {
    max-width: 600px;
    width: 100%;
}

.ingredients_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
    ;
    /* flex-direction: column; */
    max-height: 756px;
    border: 1px solid red;
    overflow-y: auto;
}

/* .ingredient_item {
        flex-basis: calc(50% - 10px); 
        margin: 5px; 
} */